
  
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top:60px;
    padding-bottom: 40px; 
  }
  

  
  .twoColumnLayout {
    display: flex;
    flex-direction: row;
    gap: 20px;
    max-width: 1201px;
    margin: 0 auto;
  }
  
  .cardsContainer {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 20px;
  }
  .form {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 20px;
  }
  
  .imgFormContainer {
    display: flex;
    flex: 1;
  }
  
  .imgFormItem {
    flex: 1;
  }
  
  @media (max-width: 1150px) {
    .twoColumnLayout {
      padding: 0 40px;
      flex-direction: column;
    }
  
    .imgFormContainer {
      flex-direction: column;
    }
  
    .imgFormItem {
      width: 100%;
    }
  }
  